<form method="post" class="activate-structure" action="{{ path('activate_structure', {'id': structure.id}) }}" onsubmit="return confirm('Voulez-vous activer cette structure?');">
    <button class="btn btn-outline-success btn-lg">Activer la Structure</button>
</form>