<form method="post" class="activate-structure" action="{{ path('deactivate_structure', {'id': structure.id}) }}" onsubmit="return confirm('Voulez-vous désactiver cette structure?');">
    <button class="btn btn-outline-danger btn-lg">Désactiver la Structure</button>
</form>