<form method="post" action="{{ path('delete_structure', {'id': structure.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cette structure?');">
    <button class="btn btn-outline-danger btn-lg">Supprimer la Structure</button>
</form>