{% extends 'base.html.twig' %}

{% block title %}Hello TemplateController!{% endblock %}

{% block body %}
    <header class="main-header">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#grid"></use></svg>
        <h1>Packages</h1>
    </header>

    <a class="btn btn-outline-success btn-lg" href="{{ path('new_template') }}">Ajouter un package</a>


{% endblock %}
