.mb-3.unique-entity {
    margin-bottom: 1rem !important;
    margin: 0rem 40rem;
    padding-top: 1rem;
    text-align: center;
}

.card-img-top {
    height: 150px;
    width: auto;
}

.entity-card {
    text-align: center;
}

.margin-card {
    margin: 3rem;
}