
.section-edit {
    margin: 4rem;
}

#template_modules {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

#structure_edit_right_mods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.col-form-label {
    font-size: 1.5rem;
    padding: 1rem;
}

.form-check {
    margin: 2rem;
}

.btn-template {
    margin: auto;
    display: grid;
}