/* filtre */

.list-filters {
    margin: 2rem;
}

.form-group {
    padding: 1rem;
}

.label {
    margin-bottom: 1rem;
}

.row.email {
    justify-content: center;
}

.form-submit {
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

.col-md-6.button-filter {
    display: contents;
}

.title-filter {
    text-align: center;
}

.row-filter-template {
    margin: 0rem 18rem;
}