/* Home */

.home-hdr {
    margin: 4rem 0rem;
}

.home-hdr h1 {
    font-size: 2rem;
}

.home-hdr-sep {
    border-bottom: 1px solid;
    color: $green;
}

.home-hdr-img {
    margin: 2rem;
}

.home-img {
    max-width: 100%;
    max-height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
}

.home-text {
    margin-top: 2rem;
}

.home-text p {
    text-align: center;
}

.home-nav {
    display: flex;
    justify-content: space-around;
    margin: 3rem 3rem;
    font-size: 1.5rem;
}

.title-entity {
    text-align: center;
}

