/* partenaires */

.entity-logo.partner {
    height: 13rem;
    width: auto;
}

.title-entity.partner {
    margin-top: 1rem;
    font-family: 'Julius Sans One', sans-serif;
    color: $red;
}

.entity-text p {
    text-align: center;
    line-height: 2rem;
    font-size: 1.3rem;
}