/* user */
#user {
    margin: 3rem;
} 

.user-label {
    font-size: 1.5rem;
    padding: 1rem;
}

.login-label {
    font-size: 1.5rem;
    padding: 1rem;
}

.btn-user {
    margin-top: 1rem;
}

.form-login {
    margin: 5rem;
}

#inputEmail {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#inputPassword {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

