<form method="post" action="{{ path('delete_partner', {'id': partner.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce partenaire ?');">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>