{% extends 'base.html.twig' %}

{% block title %}Hello PartnerController!{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Partenaires</th>
                <th scope="col">Status</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for partner in partners  %}
                <tr>
                    <th scope="row"> {{ partner.id }}</th>
                    <td> {{ partner.name }}</td>
                    {% if partner.isActive %}
                        <td>Actif</td>
                    {% else %}
                        <td>Inactif</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% for partner in activePartners  %}
        <p>{{ partner.name }}</p>
        <p>{{  partner.description }}</p>

    {% endfor %}
{% endblock %}
