@import '~bootstrap/scss/bootstrap';

/* --- Theme Configuration --- */
@import "../styles/setup-optisport/setup.scss";
html, body {
  background-color: #bcbebf;
}

footer {
  color: white;
}

footer > .container  {
  text-align: center;
}

.main-header {
  margin: 0 0 44px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-container {
  margin-bottom: 22px;
}