<form method="post" action="{{ path('delete_admin', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous supprimer cet administrateur ?');">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>