{% extends 'base.html.twig' %}

{% block title %}Définir un mot de passe{% endblock %}

{% block body %}
<div class="wrapper">
    <h2>Définir un mot de passe</h2>

    {{ form_start(createPwdForm) }}
        {{ form_row(createPwdForm.password) }}
        <button class="app-button button-yellow">Définir</button>
    {{ form_end(createPwdForm) }}
</div>
{% endblock %}
