<form method="post" action="{{ path('delete_module', {'id': module.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce module ?');">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>