{% extends 'base.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}

    GRAND MODULES

    <a class="btn btn-outline-success btn-lg" href="{{ path('new_module') }}">Ajouter un module</a>
{% endblock %}
