{% extends 'base.html.twig' %}

{% block title %}Template{% endblock %}

{% block body %}

{% include 'nav.html.twig' %}

<div class="form-container">
    {% include ('mods/_form.html.twig') %}
</div>

{% endblock %}